<p id="notice"><%= notice %></p>

<%= render 'layouts/header' %>
<br>
<br>
<tbody>

  <%= link_to 'Nuevo Post', new_post_path, :class => 'btn btn-dark' %>


  <br>
  <br>

  <div class="container-fluid dos">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <%= image_tag post.photo_url %>
      </div>

      <div class="row">
        <div class="col-md-6">

            <span class="align-middle">
              <%= link_to 'Ver', post, :class => 'btn btn-outline-danger' %></span>
              <%= link_to 'Editar', edit_post_path(post), :class => 'btn btn-outline-danger' %>
              <% if can? :destroy, post %>
              <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>

              <% end %>
            <div class="likes">
              <i class="fa fa-heart"></i><%= @post.likes.count %>
            </div>
          </div>
        </div>


        <% end %>
      </div>


  </tbody>



  <br>


  <%= link_to 'New Post', new_post_path %>
