<p id="notice"><%= notice %></p>

<%= render 'layouts/header' %>
<br>
<br>
<tbody>



  <br>
  <br>

  <div class="container">
    <% @posts.each do |post| %>
    <div class="row">
      <div class="col-8">
        <%= image_tag post.photo_url %>
      </div>

      <div class="col">
        <p id="parraf">
          <%= link_to 'Ver más detalles', post, :class => 'btn btn-outline-success' %>

          <% if can? :destroy, post %>
          <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
        </p>
        <% end %>
  
      </div>
    </div>
    <!-- <div id="like">
      <div>
        <i class="fa fa-heart"></i><%= @post.likes.count %>
      </div>
      <%= render 'likes' %>
    </div> -->
    <hr>
    <% end %>
  </div>

  <br>

  <%= link_to 'Crear nuevo Post', new_post_path, :class => 'btn btn-outline-success' %>



</tbody>
<hr>
