<p id="notice"><%= notice %></p>

<h1>Street Art Scl madafakaaaaaaaaaaas!!!</h1>


  <tbody>  



    <% @posts.each do |post| %>

    <div class="container">
        <div align="center">
      <div class="row">
        <div class="col">
          <div class="card-content">
            <div class="card-img">
              <%= image_tag post.photo_url %>
              <%= link_to 'Ver', post %>
              <%= link_to 'Editar', edit_post_path(post) %>
              <% if can? :destroy, post %>
              <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </div>
            <div class="card-desc">
              <a href="#" class="btn-card">Read</a>
              <span class="pull-right">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> #</a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> #</a>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </tbody>
</table>


<br>


<%= link_to 'New Post', new_post_path %>
