

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container">

  <p>
    <%= @post.name %>
  </p>

  <p>
    <%= image_tag @post.photo.url %>
  </p>


  <p>
    <strong>Dirección:</strong>
    <%= @post.location %>
  </p>

  <div id="like">
    <p>
      <%= button_to 'Like', post_likes_path(post_id: @post.id, like:true ), method: :post   %>

    </p>
    <div>
      <i class="fa fa-heart"></i><%= @post.likes.count %>
    </div>
    <%= render 'likes' %>
  </div>
  <hr>



  <div id="comm">

     <h5>*Para comentar debes estar registrado</h5>
  <%= form_with model: Comment.new, url: [@post, Comment.new] do |f| %>
  <strong>
    <%= f.label :Comenta %>
  </strong>
  <%= f.text_area :comment, class: 'form_with', required: true %>
  <%= f.submit :enviar %>
  <% end %>
<hr>
  <ul>
    <%= render @post.comments %>
  </ul>
</div>




  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script>
  handler = Gmaps.build('Google');
  handler.buildMap({
 provider: {
 center: new google.maps.LatLng({lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}),
 zoom: 10
 },
 internal: {
 id: 'map'
 }
 },
 function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
});
</script>
</div>

<%= link_to 'Back', posts_path, :class => 'btn btn-outline-success' %>
